@import '~@/variables';

.app {
  text-align: center;
}

.app-header {
  width: 100%;
  height: 4rem;
  background: $main-color;
}

:global(.ant-carousel .slick-slide) {
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  background: $main-color;
  overflow: hidden;
}

:gloabal(.ant-carousel .slick-slide h3) {
  color: $white;
}

.content {
  margin: 0 auto;
  padding: 0 1rem;
}

.content-header {
  position: relative;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  :global(.ant-btn) {
    margin: 10px;
  }
}

.search-detail {
  padding: .3rem .2rem;
  position: absolute;
  z-index: 1;
  width: 0;
  opacity: 0;
  overflow: hidden;
  background: $white;
  box-shadow: 0 2px 5px 0 $main-color;
}

.search-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  :global(.ant-input-search) {
    margin-right: 10px;
    flex: none;
    max-width: 350px;
  }

  .tag-wrap {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  :global(.ant-tag) {
    flex: none;
    margin: 4px;
    align-self: center;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.search-tip {
  display: flex;
  flex-direction: column;

  .tip-title {
    padding: 10px 0;
  }

  .tip-wrap {
    flex: auto;
    flex-wrap: wrap;

    .tips {
      margin: 0 5px;
      color: $main-color;
      cursor: pointer;
    }
  }
}

:global(.search-enter) {
  width: 0;
  opacity: 0;
}

:global(.search-enter-active) {
  opacity: 1;
  width: 100%;
  transition: opacity 500ms;
}

:global(.search-enter-done) {
  width: 100%;
  opacity: 1;
}

:global(.search-exit) {
  width: 100%;
  opacity: 1;
}

:global(.search-exit-active) {
  width: 100%;
  opacity: 0;
  transition: opacity 500ms;
}

:global(.search-exit-done) {
  width: 0;
  opacity: 0;
}

.list {

}

@media screen and (max-width: 768px) {
  .content {
    padding: 0;
  }
}
