@import '~@/variables';
.edit-wrap {
  display: flex;
}
.edit {
  flex: 1;
  padding: 10px;
  min-height: 300px;
  overflow-y: auto;
  line-height: 1.5;
  border: solid 1px $main-color;
}
.media {
  display: flex;
  width: 320px;
  max-height: 500px;
  overflow-y: auto;
  .tab {
    margin: 0;
    padding: 0 10px;
    li {
      cursor: pointer;
    }
  }
  .tab-content {
    margin: 0;
    padding: 0;
    flex: 1;
  }
  .upload-item {
    display: flex;
    width: 120px;
    flex-direction: column;
    span {
      text-align: center;
    }
    .upload-item-success {
      width: 120px;
      height: 90px;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .upload-item-start {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 90px;
    }
    .upload-item-fail {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 90px;
    }
  }
}
